* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 115.5px 24.5px 115.5px;
    height: 50px;
    box-sizing: content-box;
}
.nav-links a{
    color: #575757;
    text-decoration: none;
    font-size: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 23.5px;
}
.register-btn{
    background-color: #1d4ed8;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 192px;
    height: 56px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
/* hero banner */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:786px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h1{
    color:#ffffff;
    font-size: 64px;
    font-family: sans-serif;
    margin: 0;
}
.banner-content p{
    color:#ffffff;
    font-size: 22px;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    margin: 0;
    max-width: 829px;
}
.italic-text{
    font-style: italic;
}
.banner-content .register-btn {
    width: 282px;
    height: 74px;
    background-color: #1d4ed8;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


    margin-top: 250px;
}
.banner-content{
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}
